/* ========================= PENGATURAN DASAR HALAMAN ========================= */
BODY {
    FONT-FAMILY: ARIAL, HELVETICA, SANS-SERIF;
    FONT-SIZE: 16 PX;
    LINE-HEIGHT: 1.7;
    BACKGROUND-COLOR: #F4F4F4;
    COLOR: #333333;
    MARGIN: 0;
}

/* =========================
HEADER=========================*/ HEADER {
    BACKGROUND-COLOR: #550066;
    COLOR: WHITE;
    TEXT-ALIGN: CENTER;
    PADDING: 30PX;
}

HEADER H1 {
    FONT-SIZE: 32PX;
    FONT-WEIGHT: BOLD;
    MARGIN-BOTTOM: 5PX;
}

.PROFESI {
    FONT-SIZE: 18PX;
    text-align: CENTER;
    FONT-WEIGHT: NORMAL;
    COLOR: WHITE;
}

.FOTO-PROFIL {
    WIDTH: 150PX;
    HEIGHT: 150PX;
    BORDER-RADIUS: 50%;
    BORDER: 4PX SOLID WHITE;
}
/* ========================= KONTEN UTAMA ========================= */
MAIN {
    WIDTH: 80%;
    MARGIN: 10PX AUTO;
    BACKGROUND-COLOR: WHITE;
    PADDING: 30PX;
}

SECTION {
    MARGIN-BOTTOM: 30PX;
}

H2 {
    COLOR: #550066;
    FONT-SIZE: 23PX;
    BORDER-BOTTOM: 2PX SOLID #550066;
    PADDING-BOTTOM: 5PX;
}

P {
    FONT-SIZE: 16PX;
    TEXT-ALIGN: JUSTIFY;
}

UL {
    LINE-HEIGHT: 1.8;
}
/* ========================= HYPERLINK ========================= */
A {
    COLOR: #550066;
    TEXT-DECORATION: NONE;
}

A:HOVER {
    TEXT-DECORATION: UNDERLINE;
}

/* ========================= FOOTER ========================= */
FOOTER {
    BACKGROUND-COLOR: RGB(30, 30, 30);
    COLOR: WHITE;
    TEXT-ALIGN: CENTER;
    PADDING: 15PX;
}

FOOTER P {
    TEXT-ALIGN: CENTER;
    FONT-SIZE: 14PX;
}